<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta name="description" content="Nytro Sample" />
        <meta name="keywords" content="development" />
        <meta name="author" content="Tony Kamillo (Sacanix)" />
        <meta charset="utf-8"/>

        <title>Nytro Sample</title>
    </head>
    <body>
        <div id="page">
            <header></header>
            <div id="box">
                <nav></nav>
                {% block content %} {% endblock %}
            </div>
            <footer></footer>
        </div>
    </body>
</html>
